.body {
    max-width: 1000px;
    font-family: "Roboto", sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.darkBackground {
    background-color: rgb(37, 33, 33);
}

.button {
    color: rgb(23, 23, 23);
    background-color: rgb(209, 225, 246);
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 10px;
    margin-top: 25px;
    font-size: 17px;
}

.button:hover {
    background-color: rgb(170, 194, 226);
}

.header {
    color: darkslategray;
    background-color: rgb(192, 210, 224);
    text-align: center;
    border: 2px solid darkgreen;
    font-size: 22px;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
}

.footer {
    color: rgb(32, 35, 32);
    background-color: rgb(192, 210, 224);
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}